<ion-header>
  <ion-toolbar>
    <ion-title class="t">vista2</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Perfil</ion-card-subtitle>
          <ion-card-title class="g" >Garfield</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
        <ion-img src="assets/img/gato2.jpg" ></ion-img>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Ver ubicación</ion-label>
          <ion-button fill="outline" slot="end">Ver</ion-button>
        </ion-item>
      
        <ion-card-content>
            <ion-img src="assets/img/gps.jpg" ></ion-img>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-item href="#" class="activated"> <!-- href="#" me devuelve al home-->
          <ion-icon name="phone-portrait" slot="start"></ion-icon>
          <ion-label>Llamar Veterinario</ion-label>
        </ion-item>
        <ion-item href="#" class="activated">
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Dar cariño</ion-label>
          </ion-item>
        
      
        <ion-item >
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>Dar de comer</ion-label>
        </ion-item>
      
        <ion-item class="activated">
          <ion-icon name="logo-dribbble" slot="start"></ion-icon>
          <ion-label>Jugar</ion-label>
        </ion-item>
      
        <ion-item > <!--href="https://www.youtube.com/watch?v=UUgutnUERhY"-->
          <ion-icon name="logo-youtube" slot="start"></ion-icon>
          <ion-label>Tutorial como cuidar un gato</ion-label>
        </ion-item>
      </ion-card>

</ion-content>
