<ion-header>
  <ion-toolbar color="danger"> <!--color ="primary" llamo el tema de colores en vriables.scss-->
    <ion-title class="t">
      App en Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> <!-- espacio entre la margen y la letra iz der sup inf-->
  <h1>Mi primera APP</h1>
  Esto es una prueba.
  <p>Vamos a adjuntar una imagen <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">gatito</a>.</p>
 <ion-img src="assets/img/gato3.jpg"></ion-img>
 <ion-button href="./vista2"><ion-icon slot="icon-only" name="play" ></ion-icon></ion-button>


